.card {
    width: 30vh;
    /* height: 45vh; */
}

.cabezera {
    background: #f7c63b;
}

.menu-lateral {
    height: 55vh;
}

.bottom-3 {
    bottom: 3.2rem;
    background: white;
}

.publicidad{
    height: 25vh;
}

img{
    width: 120px;
}
.card-img-top{
    /* width: 9rem; */
}

a{
    text-decoration: none;
    color: black;
}

.dropdown-toggle{
    
}

.boton{
    background-color:#665cd9;
    color: white;
    /* 
     */
     
}